* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    为了避免大于750px 的html 的font-size继续放大
    导致页面的效果变形
    我们需要限制住 750以上的屏幕就为 75px
    小于320px的屏幕 就设置为 32px
*/

@media screen and (min-width: 750px) {
    html {
        font-size: 75px !important;
    }
}

@media screen and (max-width: 320px) {
    html {
        font-size: 32px !important;
    }
}

body {
    min-width: 320px;
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 14px;
    font-family: Arial, Helvetica;
}

/*点击高亮我们需要清除清除  设置为transparent 完成透明*/

a {
    display: block;
    -webkit-tap-highlight-color: transparent;
}

/*在移动端浏览器默认的外观在iOS上加上这个属性才能给按钮和输入框自定义样式*/

input, button {
    -webkit-appearance: none;
    outline: 0;
    border: 0;
}

/*禁用长按页面时的弹出菜单*/

img, a {
    -webkit-touch-callout: none;
}

li {
    list-style: none;
}

img {
    vertical-align: middle;
}

a {
    color: #666;
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}