.swiper-container {
  width: 10rem;
  height: 4.533333rem;
}
.swiper-container a {
  width: 100%;
  height: 100%;
}
.swiper-container a img {
  width: 100%;
  height: 100%;
}
.category {
  display: flex;
  justify-content: space-around;
  width: 10rem;
  height: 1.706667rem;
  margin-top: 0.16rem;
  margin-bottom: 0.573333rem;
}
.category .category-box {
  height: 1.706667rem;
  width: 1.866667rem;
}
.category .category-box a {
  width: 100%;
  height: 100%;
}
.category .category-box a img {
  width: 100%;
}
.floor {
  margin-bottom: 1.64rem;
}
.floor .choiceness {
  width: 10rem;
}
.floor .choiceness .explain {
  margin-bottom: 0.133333rem;
}
.floor .choiceness .explain img {
  height: 0.786667rem;
}
.floor .choiceness .choiceness-left {
  float: left;
  width: 3.093333rem;
  height: 5.146667rem;
}
.floor .choiceness .choiceness-left a {
  width: 100%;
  height: 100%;
}
.floor .choiceness .choiceness-left a img {
  width: 100%;
  height: 100%;
}
.floor .choiceness .choiceness-right {
  float: right;
  height: 5.146667rem;
  width: 6.733333rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.floor .choiceness .choiceness-right .choiceness-img {
  width: 3.106667rem;
  height: 2.506667rem;
}
.floor .choiceness .choiceness-right .choiceness-img a {
  width: 100%;
  height: 100%;
}
.floor .choiceness .choiceness-right .choiceness-img a img {
  width: 100%;
  height: 100%;
}
.floor .choiceness .clear {
  clear: both;
}
