.header-fixed {
  width: 10rem;
  height: 2.933333rem;
  position: relative;
}
.header-fixed header {
  position: fixed;
  width: 10rem;
  background-color: #EA4350;
  z-index: 999;
}
.header-fixed header .header-esc {
  position: absolute;
  top: 0.706667rem;
  left: 0.6rem;
  width: 0.333333rem;
  height: 0.333333rem;
  border-left: 0.04rem solid #fff;
  border-bottom: 0.04rem solid #fff;
  transform: rotate(45deg);
}
.header-fixed header .header-top {
  display: flex;
  padding-top: 0.6rem;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 1.333333rem;
  font-size: 0.4rem;
  font-weight: 700;
  color: #fff;
}
.header-fixed header .header-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.6rem;
}
.header-fixed header .header-bottom .search {
  position: relative;
  width: 9.333333rem;
  height: 1.066667rem;
  background-color: #fff;
}
.header-fixed header .header-bottom .search::before {
  position: absolute;
  top: 0.253333rem;
  left: 4.186667rem;
  content: "搜索";
  color: #767676;
  font-size: 0.4rem;
  font-weight: 700;
}
.header-fixed header .header-bottom input {
  width: 7.986667rem;
  height: 0.813333rem;
  border-radius: 0.4rem;
  text-indent: 0.533333rem;
  font-size: 0.346667rem;
  font-weight: 700;
  margin-right: 0.2rem;
  background-color: #e7e7e7;
}
.header-fixed header .header-bottom .searchBtn {
  text-align: center;
  width: 1.346667rem;
  height: 0.813333rem;
  line-height: 0.813333rem;
  font-size: 0.346667rem;
  font-weight: 700;
  border-radius: 0.066667rem;
  color: #fff;
  background-color: #ea4350;
}
.header-fixed header .fff {
  background-color: #fff;
}
.nav-fixed {
  position: relative;
  width: 10rem;
  height: 1.64rem;
}
.nav-fixed nav {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10rem;
  height: 1.506667rem;
  padding: 0.066667rem 0.2rem 0;
  box-shadow: 4px 5px 15px #888888;
  background-color: #fafafa;
}
.nav-fixed nav .nav-box {
  height: 1.333333rem;
  width: 1.733333rem;
}
.nav-fixed nav .nav-box a {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 0.346667rem;
  color: #8C8D8D;
  font-weight: 700;
}
.nav-fixed nav .nav-box a img {
  width: 0.64rem;
  height: 0.64rem;
}
.nav-fixed nav .nav-box .nav-checked {
  color: #E03440;
}
.car-fixed {
  position: relative;
  width: 10rem;
  height: 1.253333rem;
  background-color: #fff;
}
.car-fixed .car {
  position: fixed;
  z-index: 999;
  bottom: 0;
  padding: 0 0.133333rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 10rem;
  height: 1.253333rem;
  box-shadow: 4px 5px 15px #888888;
  background-color: #fff;
}
.car-fixed .car .car-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 1.333333rem;
  font-size: 0.32rem;
}
.car-fixed .car .car-box span {
  font-size: 0.6rem;
}
.car-fixed .car .car-btn {
  width: 2.613333rem;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  border-radius: 0.4rem;
  color: #fff;
  background-color: #fcaa23;
  font-size: 0.373333rem;
}
.car-fixed .car .red {
  background-color: #ea4350;
}
